version: '3'
services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - 4433:1433
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Secret1234
    volumes:
      - tprogData:/var/opt/mssql

  # server:
  #   build:
  #     context: ./
  #     dockerfile: Dockerfile
  #   image: isuct/sample-dot-net
  #   ports:
  #     - 8001:80
  #   depends_on: 
  #     - mssql

volumes:
  tprogData:
    driver: local